@section AddToHead{
    <link href="~/Content/HomePage.css" rel="stylesheet" type="text/css" />
    }
@{
    ViewBag.Title = "Index";
}

<h1><b>Evidencija nastave i ispita</b></h1>
<br />
<h3><b>Dobro došli u aplikaciju ScheduleItNow. Kroz nju ćete u svega nekoliko koraka kreirati raspored ispita i nastave, a k tome je moguće napisati napomenu kojom studente upućujete na ono na što moraju obratiti pažnju. <br /> Uz user-friendly sučelje nećete imati nikakvih problema sa snalaženjem čak i ako ste početnik.  Dovoljno je u izborniku kliknuti na pojam koji vas zanima.</b></h3>



<h3><b>Neka predavanja i ispiti započnu!</b></h3>
<br />